{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="flash-messages">
            {% for category, message in messages %}
                <div class="alert {{ category }}">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}
<h1>About Us</h1>
<div>
  <h2>Capture the Extraordinary</h2>
  <p>At Ace's Aerial Studios, our high-quality equipment and pilots aim to capture media from a unique perspective.</p>
  <p>We aim to capture the most stunning memories so you won't ever forget those moments in time from angles never thought 
  possible by you and I not even 10 years ago. Here at Ace's we strive for greatness regardless of what scenarios you find your
  self in! From beautiful eye level pictures to extravagant high altitude fly by's, we here at Ace's strive to specialize in giving 
  the client the best experience possible. From individual shoots, to wedding receptions, and even commercial businesses, we are here spread a dose of 
  art and love to the local metro people of Tulsa, Oklahoma! If you are intrested in our services please don't hesitate in getting in
  contact with me! Please go into the contact tab and enter your information, and I personally will be getting in contact with you as soon as 
  I can. <p>
  <ul>
    <li>At Ace's Aerial Studios, our state-of-the-art equipment and skilled pilots aim to capture breathtaking aerial photography and videography.</li>
    <li>From stunning aerial views to detailed ground level shots, we'll help you preserve your special moments forever.</li>
  </ul>
  <p>Our Services</p>
  <ul>
    <li>Weddings: Capture your unforgettable moment, but from above.</li>
    <li>Real Estate: Provide potential clients with stunning property media.</li>
    <li>Travel: Ensure the memories from your getaway last forever.</li>
  </ul>
</div>
{% endblock %}

  <ul>
    <li>At Ace's Aerial Studios, our state-of-the-art equipment and skilled pilots aim to capture breathtaking aerial photography and videography</li>
    <li>From stunning aerial views to detailed ground level shots, we'll help you preserve your special moments forever.</li>
    <p>Our Services</p>
  </ul>
