{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="flash-messages">
            {% for category, message in messages %}
                <div class="alert {{ category }}">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}
<h1>About Us</h1>
<div>
  <h2>Our Vision</h2>
  <p>At Ace's Aerial Studios, our high-quality equipment and pilots aim to capture media from a unique perspective.</p>
</div>
{% endblock %}
