{% extends "base.html" %}
{% block title %}New Submissions{% endblock %}
{% block content %}
<h1>New Submission</h1>
<h3>Please complete the following fields below.</h3>
<form method="post">
  <label for="name">Name / Business:</label>
  <input type="text" id="name" name="name" required>
  <label for="email">Email:</label>
  <input type="email" id="email" name="email" required>
  <label for="message">Description:</label>
  <textarea id="message" name="message" required></textarea>
  <button type="submit">Send</button>
</form>
<pre>
{% for line in data %}
{{ line }}
{% endfor %}
</pre>
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="flash-messages">
            {% for category, message in messages %}
                <div class="alert {{ category }}">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}
{% endblock %}
