{% extends "base.html" %}
{% block title %}Submissions{% endblock %}
{% block content %}
<h1>New Submission</h1>
<h3>To make a new submission, click below.</h3>
<div>
  <button>New submission</button>
</div>
<div>
  <h2>Pending</h2>

</div>
<pre>
{% for line in data %}
{{ line }}
{% endfor %}
</pre>
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="flash-messages">
            {% for category, message in messages %}
                <div class="alert {{ category }}">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}
{% endblock %}
