{% extends "base.html" %}
{% block title %}Submissions{% endblock %}
{% block content %}
<h1>Get a Quote</h1>
<div>
  <h2>Requirements</h2>
    <p>1. Name / Business (If Applicable)</p>
    <p>2. Contact Method (Email Preferred)</p>
</div>
<h4>Depending on location, scope, et cetera, estimates may vary.</h4>
<h3>To make a new submission for a quote, click below.</h3>
<div>
  <button class="create">Create New Submission</button>
  <button class="view">View Pending Submissions</button>
</div>
<div>
  <h2>Pending</h2>
</div>
<pre>
{% for line in data %}
{{ line }}
{% endfor %}
</pre>
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="flash-messages">
            {% for category, message in messages %}
                <div class="alert {{ category }}">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}
{% endblock %}
