{% extends "base.html" %}
{% block title %}Submissions{% endblock %}
{% block content %}
<h1>Submissions</h1>
<a href="{{ url_for('logout') }}">Logout</a>
<pre>
{% for line in data %}
{{ line }}
{% endfor %}
</pre>
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="flash-messages">
            {% for category, message in messages %}
                <div class="alert {{ category }}">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}
{% endblock %}
